.film-grid {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

@media (max-width: 576px) {
  .film-grid {
    grid-template-columns: 1fr;
  }
}

.card-film {
  overflow: hidden;
  background: white;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
  height: 400px;
}

.card-film > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-film h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-film p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-film {
  flex-direction: column;
  display: flex;
  width: 100%;

  .card-film-infos {
    flex-direction: column;
    display: flex;
    padding: 8px;
    // justify-content: space-between;
    flex-grow: 1;
    position: relative;

  }

  .card-film-infos .movie-overview {
    flex-grow: 1;
    padding: 10px 0px;
    max-height: 120px;
    overflow-y: scroll;
    padding: 8px;
  }

  .card-film-infos .movie-comment {
    position: absolute;
    bottom: 8px;
    left: 8px;
    opacity: 1;
  }
}

.new-bookmark {
  background-color: rgba(100, 70, 40, 0.4);
  padding: 8px;
  position: relative;
}

.delete-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 3px 6px;
  font-size: 14px;
}

.add-movie-btn {
  position: absolute;
  bottom: 5px;
  right: 0px;
}
